<ul class="sub-nav-list depth-{{ include.depth | default:1 }}">
{% for item in include.posts %}

  {% if item.folder %}
  <li>
    <h3 class="sub-folder depth-{{ include.depth | default:1 }}" data-folder-id="{{ item.folder | slugify }}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="folder">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"></path>
      </svg>
      {{ item.folder }}
    </h3>
    
    <div class="sub-nav-container" data-folder-id="{{ item.folder | slugify }}">
    {% assign next_depth = include.depth | default:1 | plus: 1 %}
    {% include render-side-nav.html posts=item.posts depth=next_depth %}
    </div>
  </li>

  {% else %}
  <li>
    <a href="{{ item.url }}" class="{% if item.url == page.url %}on{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="file">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
      </svg>
      {{ item.filename }}
    </a>
  </li>
  {% endif %}

{% endfor %}
</ul>